<div>
  <a class="footer-nav" href="/">Home</a>
  <a class="footer-nav" href="/about">About</a>
  <a class="footer-nav" href="/dishes/new">Add a Dish</a>
  <a class="footer-nav" href="/dishes">All Dishes</a>
  <a class="footer-nav" href="/login">Login</a>
  <a class="footer-nav" href="/register">Register</a>
</div>


<div>
  <h3><strong>Enjoy updates on all our dishes via :</strong></h3>
  <i class="fab fa-facebook"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-google-plus-square"></i>
</div>
