<div>
    <h2><a href="/">JAPANESE FOOOOOD</a></h2>
</div>
<div>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/dishes">Explore</a></li>
    <li><a href="/dishes/new">Add a Dish</a></li>
    <% if(locals.isLoggedIn) { %>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/"><%= locals.currentUser.username %></a></li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } %>
  </ul>
</div>
