<nav class="navbar is-fixed-top">
  <div class="navbar-brand">


    <a class="navbar-item" href="/">Home</a>


    <a class="navbar-item" href="/about">About</a>

</div>

  <div class="navbar-end">

    <a class="navbar-item" href="/dishes">All Dishes</a>

  <% if(locals.isLoggedIn) { %>

    <a class="navbar-item" href="/dishes/new">Add a Dish</a>

    <a class="navbar-item" href="/logout">Logout</a>

      <a class="navbar-item" href="/profile"><%= locals.currentUser.username %></a>


    <% } else { %>

        <a class="navbar-item" href="/login">Login</a>

      <a class="navbar-item" href="/register">Register</a>
    <% } %>

  </div>



</nav>
