<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partials/header %>
    <!-- the body line is used to represent the current file being shown e.g. about page. -->
    <%- body %>
  </body>
</html>
<!-- layout is the goto layout of every page. This format follows every page and the specifics of each page is shown from the body javascript line -->
