.navbar {
  background-color: transparent;
}

.navbar-item {
  color: #cb2100;
  font-size: 22px;
  font-weight: bold;
}


.navbar-item:hover {
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}


.newimg {
  height: 700px;
}

.newimg2 {
  height: 400px;
}

.pageHeight {
  padding-top: 50px;
}

.imageShadow {
  opacity: 0.95;
  text-align: center;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("https://img.taste.com.au/e4t_DTV9/w720-h480-cfill-q80/taste/2013/09/prawn-and-vegetable-tempura-135452-1.jpg");
}




.showImage {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.myContainer img {
   width: 100%;
}
