<%# What you put for name and value have to match the model.  Name and Value have the same answer(for lack of a better term) in the double quotes. %>
<form action="/dishes/<%= _id %>?_method=PUT" method="post">
  <input type="text" name="name" value="<%= name %>" placeholder="Name the Dish">
  <input type="text" name="ingredients" value="<%= ingredients %>" placeholder="List the Ingredients">
  <input type="text" name="image" value="<%= image %>" placeholder="URL of the Image to Show">
  <button>UPDATE</button>
</form>
