<form action="/dishes" method="post">
  <input type="text" name="name" placeholder="Name the Dish">
  <input type="text" name="ingredients" placeholder="List the Ingredients">
  <input type="text" name="image" placeholder="URL of the Image to Show">
  <%# How does this button add the items? %>
  <button>Add the DISH!!!</button>
</form>
