<div class="pageHeight">
  <form action="/dishes" method="post">

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" name="name" placeholder="Name the Dish">
        <span class="icon is-small is-left">
          <i class="fas"></i>
        </span>
      </p>
    </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="ingredients" placeholder="List the Ingredients">
          <span class="icon is-small is-left">
            <i class="fas"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="image" placeholder="URL of the Image">
          <span class="icon is-small is-left">
            <i class="fas"></i>
          </span>
        </p>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Add The Dish!</button>
        </div>
      </div>

    </form>
  </div>
