<div>
  <% if(locals.isLoggedIn) {%>
    <h1>Welcome back <%= locals.currentUser.username %></h1>
  <% } %>
  <h1>Welcome to my Picutre-Blog on Japanese Cuisine!!!</h1>
  <h2>Choose the meal time you'd like to browse</h2>
</div>
