<div class="pageHeight">

    <% if(locals.isLoggedIn) { %>
  <div class="card-content">
  <article class="media">

        <img src="<%= locals.currentUser.image %>">

    <div class="media-content">
      <div class="content">
        <h1>
          <strong><%= locals.currentUser.username %>:</strong>
          <ul>
           <li>2 Dish Additions</li>
           <li>8 Reviews</li>
           <li>3 Site Visits</li>
           </ul>
        </h1>
      </div>
      </div>
    </article>
    </div>


<% } %>

</div>
